@charset "utf-8";

/*
	Put a max width on the page to keep it from
	being too spread out and centered it.
*/
body {
	background-color: #F1E1B1; /* Base color: variation of wheat */
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

label, input, select {
	display: block;
	font-size: 1rem;
}

input, select {
	margin: 0 0 20px 0;
	padding: 5px;
}

label {
	margin: 0 0 5px 0;
}

dt {
	display: list-item;
    list-style-type: disc;
	margin-left: 2.5em;
}

dt.exists {
    font-weight: bold;
}

dt.exists:after {
    content: ":";
}

dd.exists {
    margin-left: 5em;
}

#header {
	float: right;
}

#header p, #header a {
	display: inline;
}

.error {
	color: #FF0000;
}