@charset "utf-8";

label, input, select {
	display: block;
	font-size: 1rem;
}

input, select {
	margin: 0 0 20px 0;
	padding: 5px;
}

label {
	margin: 0 0 5px 0;
}

#header {
	float: right;
}

#header p, #header a {
	display: inline;
}

.error {
	color: #FF0000;
}